{
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": 0,
    "import/extensions": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "func-names": 0,
    "consistent-return": ["off", { "treatUndefinedAsUnspecified": true }],
    "import/no-extraneous-dependencies": [
      "warn",
      { "devDependencies": ["**/*.js"] }
    ],
    "react-hooks/exhaustive-deps": "off",
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "no-useless-escape": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-await-in-loop": "off",
    "no-multi-assign": "off"

  },
  "env": {
    "jest": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ]
}
